*{
	margin: 0;
	padding: 0;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
.clearfloat{
	clear: both;
}
#container{
	width:600px;
	margin: 0 auto;
}
#header{
	width: 100%;
	background-color: #FAF8EF;
}
#header h1{
	width: 40%;
	margin: 10px 20px;
	float: left;
	font-weight: bolder;
	height: 70px;
	text-align: center;
	line-height: 70px;
	color: #776E65;
	font-size:60px;
}
.record{
	height: 70px;
	float: left;
	width: 110px;
	margin: 10px 10px;
	font-family: "微软雅黑";
	background:#BBADA0;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}
.record span{
	height: 20px;
	width: 110px;
	display: inline-block;
	
	color:#E7D8C3;
}
.record div{
	line-height: 50px;
	font-size: 30px;
	color: white;
}
#jieshao{
	width: 100%;
	font-family: "微软雅黑";
	background-color: rosybrown;
	color: #776E65;
	padding: 20px;
	box-sizing: border-box;
}
#jieshao span{
	display: inline-block;
}
#newGame{
	float: right;
	height: 45px;
	width: 30%;
	border-radius: 5px;
	background-color: #8F7A66;
	font-size: 24px;
	color: white;
}
#back-container{
	width: 100%;
	height: 600px;
	background-color: #BBADA0;
	position: relative;
	cursor: pointer;
}
.grid,.cell{
	width: 130px;
	height: 130px;
	border-radius: 6px;
}
.grid{
	background: #ccc0b3;
	float: left;
	margin: 16px 0 0 16px;
}

.cell{
	position: absolute;
	font-size: 60px;
	text-align: center;
	line-height: 130px;
	color: #fff;
}
div[id^="c0"]{top:16px;}
div[id^="c1"]{top:162px;}
div[id^="c2"]{top:308px;}
div[id^="c3"]{top:454px;}

div[id$="0"]{left: 16px;}
div[id$="1"]{left: 162px;}
div[id$="2"]{left: 308px;}
div[id$="3"]{left: 454px;}

.n2{background-color:#eee3da}
.n4{background-color:#ede0c8}
.n8{background-color:#f2b179}
.n16{background-color:#f59563}
.n32{background-color:#f67c5f}
.n64{background-color:#f65e3b}
.n128{background-color:#edcf72}
.n256{background-color:#edcc61}
.n512{background-color:#9c0}
.n1024{background-color:#33b5e5}
.n2048{background-color:#09c}
.n4096{background-color:#a6c}
.n8192{background-color:#93c}
.n2,.n4{color:#776e65}
.n1024,.n2048,.n4096,.n8192{font-size:40px}

#gameOver{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#gameOver>div{
	width: 100%;
	height: 100%;
	background: #555;
	opacity: 0.5;
}
#gameOver>p{
	width: 300px;
	height: 200px;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -150px;
	background: #fff;
	border: 1px solid #edcf72;
	border-radius: 10px;
	line-height: 2em; 
}
#gameOver .btn{
	background: #9f8d77;
	color: #fff;
	padding: 10px;
	border-radius: 6px;
	cursor: pointer;
}